{% extends 'vendedor/vendedorBase.html' %}
{% block body %}

{% block customCSS %}
<link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/resumenVentas.css') }}">

{% endblock %}
<div class="resumen-container">
  <div class="card-resumen">
    <h2>Total de Ganancias</h2>
    <p class="valor">${{ '%.2f'|format(resumen.total_ganancias) }}</p>
  </div>
  <div class="card-resumen">
    <h2>Productos Vendidos</h2>
    <p class="valor">{{ resumen.total_productos }}</p>
  </div>
  <div class="card-resumen">
    <h2>Producto más Vendido</h2>
    <p class="valor">{{ resumen.producto_mas_vendido }}</p>
  </div>
  
</div>
<a href="/VENDEDOR" class="btn btn-secondary btn-lg">Atrás</a>
{% endblock %}
