.producto-img {
    width: 100px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.table td, .table th {
    vertical-align: middle;
    text-align: center;
}

.btn {
    margin: 2px;
}