{% extends 'base.html' %}
{% block body %}

<link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css"> 
<link rel="stylesheet" href="{{ url_for('static', filename='css/historialPedido.css') }}">

<nav class="navbar sticky-top">
    <div class="container">
        <a href="/CULTIVARED" class="logo" title="CultivaRed"><span class="li">Cultiva</span>Red</a>            
        <a href="{{ url_for('gestor_blueprint.perfil_usuario', user_id=user[0]) }}" class="btn btn-outline-light">
            <i class="bi bi-arrow-left-circle"></i> Atrás</a>
    </div>
</nav>


<div class="container mt-4">
    <h2 class="mb-4">Historial de Pedidos</h2>
    
    <div class="table-responsive">
        {% if historial %}
        <table border="1" cellpadding="5">
            <thead>
                

                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio unitario</th>
                    <th>Fecha de pedido</th>
                    <th>
                         {% set rol = user[6].lower().strip() %}
                            {% if rol == 'vendedor' %}
                                Comprador
                            {% elif rol == 'comprador' %}
                                Vendedor
                            {% else %}
                                Usuario
                            {% endif %}
                    </th>
                    <th>Total item</th>
                </tr>
            </thead>
            <tbody>
                {% for item in historial %}

                <tr>
                    <td>{{ item[3] }}</td> <!-- nombre_producto -->
                    <td>{{ item[1] }}</td> <!-- cantidad -->
                    <td>${{ '%.2f'|format(item[2]) }}</td> <!-- precio unitario -->
                    <td>{{ item[4].strftime('%Y-%m-%d') }}</td> <!-- fecha -->
                    <td>{{ item[5] }}</td> <!-- nombre_comprador -->
                    <td>${{ '%.2f'|format(item[1] * item[2]) }}</td> <!-- total -->
                </tr>
                {% else %}
                <tr>
                    <td colspan="6" class="text-center">No hay pedidos registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay ventas registradas aún.</p>
    {% endif %}
    </div>
</div>

{% endblock %}
