{% extends 'base.html' %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GESTOR</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gestor.css') }}">
</head>
<body>
    <nav class="navbar sticky-top">
        <div class="container">
            <a href="/CULTIVARED" class="logo" title="CultivaRed"><span class="li">Cultiva</span>Red</a>  
            <a href="/GESTOR/gestion_usuarios" class="btn btn-outline-light">
            <i class="bi bi-arrow-left-circle"></i> >Atras</a>          
        </div>


    </nav>
    <body class="bg-light">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <!-- Contenedor de ambas tarjetas en la misma fila -->
                <div class="d-flex justify-content-between perfil-wrapper">
                    <!-- Card de Perfil -->
                    <div class="card perfil-card">
                        <div class="card-header text-center">
                            <h2>Perfil del Usuario</h2>
                        </div>
                        <div class="card-body">
                            
                            <h4 class="text-center">{{ user[1] }} {{ user[2] }}</h4>
                            <div class="perfil-info">
                                <p><strong>Email:</strong> {{ user[4] }}</p>

                                <p><strong>Teléfono:</strong> {{ user[5] }}</p>
                                <p><strong>Rol:</strong> {{ user[6] }}</p>
                            </div>
                        </div>    
                    </div>
    
                    <!-- Card del Menú -->
                    <div class="card menu-card">
    <div class="card-header text-center">
        <h4 class="text-center">Menu de {{ user[1] }} {{ user[2] }}</h4>
                </div>
                    <div class="card-body">
                        <ul class="menu-list">
                            <!-- Mostrar solo si el rol es vendedor -->
                            {% if rol_usuario.strip().lower() == 'vendedor' %}
                                <li><a href="{{ url_for('gestor_blueprint.inventario_usuario', user_id=user[0]) }}">Ver Inventario</a></li>
                            {% endif %}

                            <li><a href="#">Reportes:</a></li>
                            <li><a href="{{ url_for('gestor_blueprint.historial_pedidos', user_id=user[0]) }}">Historial de pedidos</a></li>
                            <li><a href="{{ url_for('gestor_blueprint.resumen_ventas', user_id=user[0]) }}">Resumen de {{user[6]}}</a></li>
                            <a href="{{ url_for('gestor_blueprint.grafico_vendedor', user_id=user[0]) }}">Gráficos</a>
                        </ul>
                    </div>    
                </div>

                </div>
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</body>
</html>

{% endblock %}
